<a href="https://colab.research.google.com/github/SHIN-sped/SHIN-sped/blob/master/%5BLesson05%5D_CosPro_1_SOL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cos Pro 1급 5회 문제 1 - 빈칸 채우기

계단 n칸을 올라가는 방법의 수를 구하려고 합니다. 계단은 한 번에 1계단, 2계단, 3계단씩 오를 수 있습니다.
예를 들어, 계단 3칸을 오르는 방법은 다음과 같이 4가지가 있습니다.

1. 1계단 + 1계단 + 1계단
2. 1계단 + 2계단
3. 2계단 + 1계단
4. 3계단

계단 수 n이 매개변수로 주어질 때, 계단을 오르는 경우의 수를 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

계단 수 n이 solution 함수의 매개변수로 주어집니다.
* n은 3 이상 30 이하인 정수입니다.

▣ return 값 설명

계단을 오르는 경우의 수를 return 합니다.

▣ 입출력 예

    | n | return |
    |---|--------|
    | 3 | 4      |
    | 4 | 7      |

▣ 입출력 예 설명

예시 #1
문제에 나온 예와 같습니다.

예시 #2
계단 4칸을 오르는 방법은 다음과 같이 7가지가 있습니다.

1. 1계단 + 1계단 + 1계단 + 1계단
2. 1계단 + 1계단 + 2계단
3. 1계단 + 2계단 + 1계단
4. 2계단 + 1계단 + 1계단
5. 1계단 + 3계단
6. 3계단 + 1계단
7. 2계단 + 2계단

In [ ]:
steps = [0, 1, 2, 4, 7]  # 가설 : n일 때   n-1, n-2, n-3 을 더한 것
                         # n=5, 7+4+2 => 13
n = 5
1 1 1 1 1
1 1 1 2
1 1 2 1
1 2 1 1
2 1 1 1
1 1 3
1 3 1
3 1 1
1 2 2
2 1 2
2 2 1
2 3
3 2

In [ ]:
def solution(n):
	answer = 0
	steps = [0 for _ in range(n+1)]
	steps[1] = 1
	steps[2] = 2
	steps[3] = 4
	for i in range(4, n+1):
		steps[i] = sum(steps[i-3:i]) # steps[i-1] + steps[i-2] + steps[i-3]
	answer = steps[n]
	return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
n1 = 3
ret1 = solution(n1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

n2 = 4
ret2 = solution(n2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

solution 함수의 반환 값은 4 입니다.
solution 함수의 반환 값은 7 입니다.

## Cos Pro 1급 5회 문제 2 - 한줄 수정하기

아래와 같이 벽이 여러 개 있을 때, 벽 2개를 제외한 나머지 벽을 제거하여 물을 최대한 담으려 합니다. 물은 `두 벽 사이의 거리 x 두 벽 중 낮은 벽의 높이`리터 만큼 담을 수 있으며, 두 벽의 거리는 두 벽의 위치 차이입니다.

![image.png]()

모든 벽의 위치와 높이를 담은 2차원 리스트 walls가 매개변수로 주어질 때, 물을 최대 몇 리터나 담을 수 있는지 return 하도록 solution 함수를 작성했습니다. 그러나, 일부 코드가 잘못되어 코드가 바르게 동작하지 않습니다. 주어진 코드가 모든 입력을 바르게 처리하도록 코드를 수정해주세요. 코드는 _**한 줄**_만 수정해야 합니다.


▣ 매개변수 설명

모든 벽의 위치와 높이를 담은 2차원 리스트 walls가 solution 함수의 매개변수로 주어집니다.
* walls는 길이가 3이상 100이하인 2차원 리스트입니다.
* walls의 각 원소는 [벽의 위치, 벽의 높이] 이고, 벽의 위치를 기준으로 오름차순으로 정렬되어 있습니다.
    * 벽의 위치는 1 이상 100 이하입니다.
    * 벽의 높이는 1 이상 100 이하입니다.

▣ return 값 설명

물을 최대 몇 리터나 담을 수 있는지 return 합니다.

▣ 입출력 예

    | walls                                    | return |
    |------------------------------------------|--------|
    | [[1, 4], [2, 6], [3, 5], [5, 3], [6, 2]] | 12     |

▣ 입출력 예 설명
아래와 같이 벽을 남겼을 때 물을 최대로 담을 수 있습니다. 이 때 최대 12리터를 담을 수 있습니다.

![image.png]()

In [ ]:
walls = [[1, 4], [2, 6], [3, 5], [5, 3], [6, 2]]  # 오름차순으로 정렬
# 5C2 : 조합
n = 5
for i in range(n-1):
    for j in range(i+1, n):
        print(i, j, sep=',', end='  ')
print()

0,1  0,2  0,3  0,4  1,2  1,3  1,4  2,3  2,4  3,4

In [ ]:
# 5C3 : 조합
n = 5
for i in range(n-2):
    for j in range(i+1, n-1):
        for k in range(j+1, n):
            print(i, j, k, sep=',', end='  ')
print()

0,1,2  0,1,3  0,1,4  0,2,3  0,2,4  0,3,4  1,2,3  1,2,4  1,3,4  2,3,4

In [ ]:
# 두 벽 사이의 거리 x 두 벽 중 낮은 벽의 높이
def solution(walls):
    answer = 0
    for i in range(len(walls)):  
    	for j in range(i+1, len(walls)):
    		area = 0
    		if walls[i][1] < walls[j][1]:  # 더 낮은 벽의 높이를 사용해야 함!
    			area = walls[i][1] * (walls[j][0] - walls[i][0])
    		else:
    			area = walls[j][1] * (walls[j][0] - walls[i][0])
    		if answer < area:
    			answer = area
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니, 위의 코드만 수정하세요.
walls = [[1, 4], [2, 6], [3, 5], [5, 3], [6, 2]]
ret = solution(walls)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 12 입니다.

## Cos Pro 1급 5회 문제 3 - 한줄 수정하기
서로 다른 정수 n개가 담긴 리스트가 있습니다. 이 리스트를 앞 `(n+1)/2`개 원소는 증가하고 뒤 `(n+1)/2`개 원소는 감소하도록 정렬하려고 합니다. 이때, 조건을 만족하는 리스트가 여럿인 경우 사전순으로 가장 먼저 나오는 리스트를 답으로 합니다. 예를 들어, 주어진 리스트가 [7, 3, 4, 1, 2, 5, 6]라면 정렬한 이후에는 [1, 2, 3, 7, 6, 5, 4]가 됩니다.

정수 리스트가 numbers가 매개변수로 주어질 때, 문제의 조건에 맞게 정렬하여 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣ 매개변수 설명

정수 리스트가 numbers가 solution 함수의 매개변수로 주어집니다.
* numbers의 각 원소는 -1,000 이상 1,000 이하인 정수이며, 중복되는 수는 없습니다.
* numbers의 길이는 3 이상 10,000 이하인 홀수입니다.

▣ return 값 설명

주어진 리스트를 앞 `(n+1)/2`개 원소는 증가하고 뒤 `(n+1)/2`개 원소는 감소하도록 정렬하여 return 합니다.
조건을 만족하는 리스트가 여럿인 경우 사전순으로 가장 먼저 나오는 리스트를 답으로 합니다.

▣ 입출력 예

    | numbers               | return                |
    |-----------------------|-----------------------|
    | [7, 3, 4, 1, 2, 5, 6] | [1, 2, 3, 7, 6, 5, 4] |

▣ 입출력 예 설명

문제에 나온 예와 같습니다.

In [ ]:
#  [1, 2, 3, 7, 6, 5, 4]
n = 7
(n+1)//2, (n-1)//2

(4, 3)

In [ ]:
a, b = 10, 20
a, b = b, a  # swap
print(a, b)

20 10

In [ ]:
#  [1, 2, 3, 4, 5, 6, 7]
#  [1, 2, 3, 7, 5, 6, 4]  # swap
#              left 
#                right
#  [1, 2, 3, 7, 6, 5, 4]  # swap
#                  left
#              right

In [ ]:
def solution(numbers):
    answer = []
    numbers.sort()  # 오름차순 정렬
    mid = (len(numbers) - 1) // 2  # 가운데 index 번호 구하기
    numbers[mid], numbers[len(numbers)-1] = numbers[len(numbers)-1], numbers[mid]  # swap
    left = mid + 1
    right = len(numbers) - 2  #  right의 시작 변경!  
    while left <= right:
    	numbers[left], numbers[right] = numbers[right], numbers[left] # swap
    	left = left + 1
    	right = right - 1
    answer = numbers
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니 위의 코드만 수정하세요.
numbers = [7, 3, 4, 1, 2, 5, 6]
ret = solution(numbers)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 [1, 2, 3, 7, 6, 5, 4] 입니다.

## Cos Pro 1급 5회 문제 4 - 한줄 수정하기
주어진 숫자를 각 숫자와 숫자의 개수로 읽으려 합니다. 이때, 값이 큰 숫자를 먼저 읽어야합니다.

예를 들어, 2433은 2 한개 4 한개 3 두개로 이루어져 있기 때문에 "413221"로 읽습니다. 

숫자 number가 매개변수로 주어질 때, 숫자를 읽어 문자열로 return 하도록 solution 함수를 작성했습니다. 그러나, 일부 코드가 잘못되어 코드가 바르게 동작하지 않습니다. 주어진 코드가 모든 입력을 바르게 처리하도록 코드를 수정해주세요. 코드는 _**한 줄**_만 수정해야 합니다.


▣ 매개변수 설명

숫자 number가 solution 함수의 매개변수로 주어집니다.
* number는 0 이상 2,000,000,000 이하인 정수입니다.

▣ return 값 설명

주어진 숫자를 읽어 문자열 형태로 return 합니다.

▣ 예시

    | number | return |
    |--------|----------|
    | 2433   | "413221" |
    | 662244 | "624222" |

▣ 예시 설명

예시 #1

문제에 나온 예와 같습니다.

예시 #2

662244는 6 두개 2 두개 4 두개로 이루어져 있기 때문에 "624222"로 읽습니다.

In [ ]:
number = 224466
number_count = [0 for _ in range(10)]
while number > 0:
    number_count[number % 10] += 1
    number //= 10   

print(number_count)

[0, 0, 2, 0, 2, 0, 2, 0, 0, 0]

In [ ]:
list(range(9, -1, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
def solution(number):
    answer = ''
    number_count = [0 for _ in range(10)]  # [0] * 10
    while number > 0:
        number_count[number % 10] += 1
        number //= 10
    for i in range(9, -1, -1):   # i = 0, 1, 2, ... 9 => i = 9, 8, 7, ... 0
        if number_count[i] != 0:
            answer += (str(i) + str(number_count[i]))
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래에는 잘못된 부분이 없으니, 위의 코드만 수정하세요.
number1 = 2433
ret1 = solution(number1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

number2 = 662244
ret2 = solution(number2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

solution 함수의 반환 값은 413221 입니다.
solution 함수의 반환 값은 624222 입니다.

## Cos Pro 1급 5회 문제 5 - 구현

XX게임에선 캐릭터는 자신과 공격력이 같거나 자신보다 공격력이 작은 몬스터에게 이깁니다. 내가 가진 캐릭터가 최대 몬스터 몇 마리를 이길 수 있는지 구하려 합니다. 단, 한 캐릭터는 한 번만 싸울 수 있습니다.

예를 들어, 세 몬스터의 공격력이 각각 [1, 4, 3]이고, 내가 가진 두 캐릭터의 공격력이 각각 [1, 3]이라면 첫 번째 캐릭터는 첫 번째 몬스터와, 두 번째 캐릭터는 세 번째 몬스터와 싸워서 이길 수 있습니다. 따라서 이길 수 있는 몬스터 수는 최대 2마리입니다. 

모든 몬스터의 공격력을 담은 리스트 enemies, 내가 가진 모든 캐릭터의 공격력을 담은 리스트 armies가 매개변수로 주어질 때, 내 캐릭터로는 최대 몬스터 몇 마리를 이길 수 있는지 return 하도록 solution 함수를 작성해주세요.


▣ 매개변수 설명

모든 몬스터의 공격력을 담은 리스트 enemies, 내가 가진 모든 캐릭터의 공격력을 담은 리스트 armies가 solution 함수의 매개변수로 주어집니다.
* 몬스터 수는 1마리 이상, 500마리 이하입니다.
* 각 몬스터의 공격력은 1 이상 100 이하입니다.
* 내가 가진 캐릭터 수는 1개 이상 500개 이하입니다.
* 각 캐릭터의 공격력은 1 이상 100 이하입니다.

▣ return 값 설명

내가 가진 캐릭터로는 최대 몬스터 몇 마리를 이길 수 있는지 return 해주세요.

▣ 입출력 예

    | enemies   | armies       | return |
    |-----------|--------------|--------|
    | [1, 4, 3] | [1, 3]       | 2      |
    | [1, 1, 1] | [1, 2, 3, 4] | 3      |

▣ 입출력 예 설명

입출력 예 #1

문제에 나온 예와 같습니다.

입출력 예 #2

캐릭터를 어떻게 보내도 모든 몬스터를 이길 수 있습니다.

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(enemies, armies):
    #여기에 코드를 작성해주세요.
    answer = ''
    return answer


#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
enemies1 = [1, 4, 3]
armies1 = [1, 3]
ret1 = solution(enemies1, armies1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

enemies2 = [1, 1, 1]
armies2 = [1, 2, 3, 4]
ret2 = solution(enemies2, armies2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

solution 함수의 반환 값은 2 입니다.
solution 함수의 반환 값은 3 입니다.

## Cos Pro 1급 5회 문제 6 - 구현

p 진법으로 표현한 수란, 각 자리를 0부터 p-1의 숫자로만 나타낸 수를 의미합니다. p 진법으로 표현한 자연수 두개를 더한 결과를 q 진법으로 표현하려 합니다.

예를 들어, 3진법 수 112001과 12010을 더한 결과를 8진법으로 나타내면 1005입니다.

solution 함수의 매개변수로 p 진법 자연수를 담은 문자열 s1, s2와 두 수를 나타내는 진법의 기수 p, 두 수의 덧셈 결과를 표현할 진법의 기수 q가 매개변수로 주어집니다. p진법으로 표현된 두 수를 더한 결과를 q 진법으로 나타낸 값을 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명

p 진법으로 자연수를 담은 문자열 s1, s2와 두 수를 표현한 진법의 기수 p, 두 수의 덧셈 결과를 표현할 진법의 기수 q가 solution 함수의 매개변수로 주어집니다.
* p와 q는 2 이상 10 이하인 자연수입니다.
* s1과 s2의 길이는 1 이상 9 이하입니다.
* s1과 s2의 원소는 '0', '1', '2', …, ‘p-1’로만 구성됩니다.
* s1이나 s2가 ‘0’인 경우는 주어지지 않습니다.

▣ return 값 설명

두 수를 더한 결과를 q 진법으로 나타낸 값을 문자열로 return 하도록 solution 함수를 완성해주세요.

▣ 예시

    | s1       | s2      | p | q | return |
    |----------|---------|---|---|---------|
    | "112001" | "12010" | 3 | 8 | "1005" |

▣ 예시 설명

문제에 나온 예와 같습니다.

In [ ]:
s1 = "112001"
p = 3
sum(int(x) * p**i for i, x in enumerate(s1[::-1]))

379

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math
def to_decimal(s, p):
    return sum(int(x) * p**i for i, x in enumerate(s[::-1]) if x != '0')

def to_target(A, q):
    B = []
    while A > 0 :
        A, n = divmod(A, q)
        B.append(n)
    return ''.join(map(str, B[::-1]))

def solution(s1, s2, p, q):
    #여기에 코드를 작성해주세요.
    A = to_decimal(s1, p) + to_decimal(s2, p)    
    return to_target(A, q)

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
s1 = "112001"
s2 = "12010"
p = 3
q = 8
ret = solution(s1, s2, p, q)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 1005 입니다.

In [ ]:
#112001
1*3**0 + 2*3**3 + 1*3**4 + 1*3**5

379

In [ ]:
#12010
1 * 3**1 + 2 * 3**3 + 1 * 3**4

138

## Cos Pro 1급 5회 문제 7 - 빈칸 채우기

그래프의 노드 수와 노드 연결 순서가 주어질 때, 몇 번째 연결에 사이클이 생기는지 알고 싶습니다. 예를 들어, 노드가 3개이고 노드를 [[1, 2], [1, 3], [2, 3]] 순으로 연결한다면 아래 그림과 같습니다.

![image.png]()
                            

따라서 3번째 연결에서 사이클이 생깁니다.

그래프의 노드 수 n, 노드 연결 순서 connections가 매개변수로 주어질 때, 몇 번째 연결에 사이클이 생기는지 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

그래프의 노드 수 n, 노드 연결 순서 connections가 solution 함수의 매개변수로 주어집니다.
* 그래프의 노드 수 n은 3 이상 10 이하입니다.
* connections은 길이가 3 이상 50 이하인 리스트입니다.
* connections 리스트의 각 행은 [a, b]는 a번 노드와 b번 노드를 연결한다는 의미입니다.
* 항상 사이클이 생기는 경우만 주어집니다.

▣ return 값 설명

몇 번째 연결에서 사이클이 생기는지 return 합니다.

▣ 예제

    | n | connections              | return |
    |---|--------------------------|--------|
    | 3 | [[1, 2], [1, 3], [2, 3]] | 3      |

▣ 예제 설명

문제에 나온 예와 같습니다.

In [ ]:
n = 5
parent = [x for x in range(n+1)]
print(parent)

[0, 1, 2, 3, 4, 5]

In [ ]:
# 원소가 속한 집합을 반환

def find(parent, u):
    # 자기 자신에 연결된 상태면 자기 자신을 반환
    if u == parent[u]:   # parent = [0, 2, 2, 3]    u = 1
        return u
    parent[u] = find(parent, parent[u])
    return parent[u]

# 두 원소 a, b 가 주어질 때, 이들이 속한 두 집합을 하나로 합침
def merge(parent, u, v):
    u = find(parent, u)
    v = find(parent, v)
    print(u, v)
    if u == v:
        return True  # cycle 존재
    parent[u] = v   #  u와 v를 연결한다   # [0, 2, 3, 3]
    print(parent)
    return False

def solution(n, connections):
    answer = 0
    # n 개의 원소가 각각의 집합에 포함되어 있도록 초기화
    parent = list(range(n+1)) # [0, 1, 2, 3]
    for i, connection in enumerate(connections):  # i = 순번
        if merge(parent, connection[0], connection[1]):
            answer = i + 1
            break
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
n = 3
connections = [[1, 2], [1, 3], [2, 3]]
ret = solution(n, connections)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

1 2
[0, 2, 2, 3]
2 3
[0, 2, 3, 3]
3 3
solution 함수의 반환 값은 3 입니다.

## Cos Pro 1급 5회 문제 8 - 빈칸 채우기

세 수 a, b, c의 공약수가 몇 개인지 구하려고 합니다. 공약수란, 동시에 모든 정수의 약수인 정수를 뜻합니다. 예를 들어, 세 수 24, 9, 15의 공약수는 1, 3이고, 따라서 양의 공약수는 2개입니다.

세 수의 공약수가 몇 개인지 구하기 위해 다음과 같이 프로그램 구조를 작성했습니다.
1. 세 수의 최대공약수를 구합니다.
2. 앞서 구한 최대공약수의 약수가 몇 개인지 구합니다.

세 수 a, b, c가 매개변수로 주어질 때, 세 수의 약수가 몇 개인지 return 하도록 solution 함수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수와 매개변수를 알맞게 채워주세요.


▣ 매개변수 설명

세 수 a, b, c가 매개변수로 주어집니다.
* 세 수 a, b, c는 1 이상 1,000 이하인 정수입니다.

▣ return 값 설명

세 수의 약수가 몇 개인지 return 합니다.

▣ 예제

    | a  | b | c  | return |
    |----|---|----|--------|
    | 24 | 9 | 15 | 2      |

▣ 예제 설명

문제에 나온 예와 같습니다.

In [ ]:
def func_a(a, b):
	mod = a % b
	while mod > 0:
		a = b
		b = mod
		mod = a % b
	return b

def func_b(n):
	answer = 0
	for i in range(1, n+1):
		if func_@@@(@@@):
			answer += 1
	return answer

def func_c(p, q):
	if p % q == 0:
		return True
	else:
		return False

def solution(a, b, c):
    answer = 0
    gcd = func_@@@(func_@@@(@@@), @@@)
    answer = func_@@@(@@@)
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
a = 24
b = 9
c = 15
ret = solution(a, b, c)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은  [1, 6, 2, 5, 3, 4]  입니다.

In [ ]:
def solution(a, b, c):
    n = min(a, b, c)
    answer = 0
    for i in range(1, n+1):
        if (a % i == 0) and (b % i == 0) and (c % i == 0):
            print(i)
            answer += 1
    return answer  

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
a = 24
b = 9
c = 15
ret = solution(a, b, c)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

1
3
solution 함수의 반환 값은 2 입니다.

In [ ]:
# a, b의 공약수 구하기
def func_a(a, b):    # a=24, b=9
	mod = a % b      # mod = 6
	while mod > 0:
		a = b        # a = 9, b = 6 /  a = 6, b = 3
		b = mod        
		mod = a % b  # mod = 3, mod = 0
	return b

# 최대공약수의 약수 개수를 구하는 함수
def func_b(n):
	answer = 0
	for i in range(1, n+1):
		if n % i == 0:  # 약수인지 확인
			answer += 1
	return answer

# q가 p의 약수인지 확인
def func_c(p, q):
	return p % q == 0

def solution(a, b, c):
    answer = 0
    gcd = func_a(func_a(a, b), c)
    print(gcd)
    answer = func_b(gcd)
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
a = 24
b = 9
c = 15
ret = solution(a, b, c)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

3
solution 함수의 반환 값은 2 입니다.

## Cos Pro 1급 5회 문제 9 - 구현

정수 number와 target이 주어졌을 때, 다음 세 연산을 이용해 number를 target으로 만들려 합니다.

    연산 1. 1을 더합니다.
    연산 2. 1을 뺍니다.
    연산 3. 2를 곱합니다.


정수 number와 target이 매개변수로 주어질 때, number로 target으로 만들려면 연산을 최소 몇 번 해야 하는지 return 하도록 solution 함수를 작성해 주세요.


▣ 매개변수 설명

두 정수 number와 target이 solution 함수의 매개변수로 주어집니다.
* number와 target은 0 이상 10,000 이하입니다.

▣ return 값 설명

number를 target으로 만들려면 연산을 최소 몇 번 해야 하는지 return 합니다.

▣ 예시

    | number |target|return|
    |--------|------|------|
    | 5      |9     |2     |
    | 3      |11    |3     |

▣ 예시 설명

예시 #1

1. 5 x 2 = 10
2. 10 - 1 = 9

따라서 연산을 최소 2번 해야 합니다.


예시 #2
1. 3 x 2 = 6
2. 6 x 2 = 12
3. 12 - 1 = 11

따라서 연산을 최소 3번 해야 합니다.

### temp

In [ ]:
# 모든 경우의 수를 만들어서 실행해 보아야 함! 완전 탐색!
*, +, - => 3가지
**, *+, *-, +*, ++, +-, -*, -+, -- => 9가지
# BFS - Queue (FIFO)
# DFS - Stack

In [ ]:
*, +, -

number = 5
number * 2 = 10
number + 1 = 6
number - 1 = 4

number = 10
number * 2 = 20
number + 1 = 11
number - 1 = 9

In [ ]:
n = 3
for x in range(1, 20):
    print(n**x, end=' ')

3 9 27 81 243 729 2187 6561 19683 59049 177147 531441 1594323 4782969 14348907 43046721 129140163 387420489 1162261467

In [ ]:
from collections import deque

q = deque()
q.append('+')
#q.popleft()
if q:
    print('not empty')
else:
    print('empty')

not empty

In [ ]:
from collections import deque

deQ = deque()  # 앞/뒤로 삽입 삭제
deQ.append(1)  # 뒤로 삽입
deQ.append(2)
deQ.appendleft(3)  # 앞으로 삽입
deQ.extend([4,5,6])  # 뒤로 여러개 삽입
deQ.extendleft([7,8,9])  # 앞으로 여러 개 삽입
print(deQ)
deQ.pop()  # 뒤에서 삭제
print(deQ) 
deQ.popleft()  # 앞에서 삭제
deQ

deque([9, 8, 7, 3, 1, 2, 4, 5, 6])
deque([9, 8, 7, 3, 1, 2, 4, 5])

deque([8, 7, 3, 1, 2, 4, 5])

In [ ]:
# Queue(FIFO)를 만들때 사용하는 메서드
from collections import deque
Q = deque()
Q.append(1)   # Queue에 삽입
Q.append(2)   # Queue에 삽입
print(Q)
Q.popleft()   # Queue에서 삭제
print(Q)
Q.popleft()   # Queue에서 삭제
print(Q)

if Q:
    print('not empty')
else:
    print('empty')

deque([1, 2])
deque([2])
deque([])
empty

In [ ]:
# Stack(LIFO)을 만들때 사용하는 메서드
from collections import deque
stack = deque()
stack.append(1)   # Stack에 삽입
stack.append(2)   # Stack에 삽입
print(stack)
stack.pop()   # Stack에서 삭제
print(stack)
stack.pop()   # Stack에서 삭제
print(stack)

if stack:
    print('not empty')
else:
    print('empty')

deque([1, 2])
deque([1])
deque([])
empty

### code

In [ ]:
# Queue를 사용해서 +, -, *를  넣었다가 빼내어 보세요

# 사용했던 숫자에 대해 1로 표시
visit = [0] * 10001  
number, target = 5, 9
Q = deque()
Q.append((number, 0))
visit[number] = 1

while Q:
    current, cnt = Q.popleft()
    print(current, cnt)
    if current + 1 == target:
        print(current + 1, cnt+1)
        break
    if visit[current + 1] == 0:
        print('A', current + 1, cnt+1)
        Q.append((current + 1, cnt+1))

    if current - 1 == target:
        print(current - 1, cnt+1)
        break
    if visit[current - 1] == 0:
        print('B', current - 1, cnt+1)
        Q.append((current - 1, cnt+1))

    if current * 2 == target:
        print(current * 2, cnt+1)
        break
    if visit[current * 2] == 0:
        print('C', current * 2, cnt+1)
        Q.append((current * 2, cnt+1))

5 0
A 6 1
B 4 1
C 10 1
6 1
A 7 2
C 12 2
4 1
B 3 2
C 8 2
10 1
A 11 2
9 2

In [ ]:
# Queue를 사용해서 +, -, *를  넣었다가 빼내어 보세요

# 사용했던 숫자에 대해 1로 표시
visit = [0] * 10001  
number, target = 5, 9
Q = deque()
Q.append((number, 0))
visit[number] = 1
operation = [lambda x : x+1, lambda x : x-1, lambda x : x*2]
while Q:
    current, cnt = Q.popleft()
    print(current, cnt)
    for op in operation:
        value = op(current)
        print(value)

5 0
6
4
10

In [ ]:
# Queue를 사용해서 +, -, *를  넣었다가 빼내어 보세요

def solution(number, target):
    # 사용했던 숫자에 대해 1로 표시
    visit = [0] * 10001      
    Q = deque()
    Q.append((number, 0))
    visit[number] = 1
    operation = [lambda x : x+1, lambda x : x-1, lambda x : x*2]
    while Q:
        current, cnt = Q.popleft()
        #print(current, cnt)
        for op in operation:
            value = op(current)
            if value == target:
                #print('FOUND', value, cnt+1)
                return cnt+1
            if 0 <= value <= 10000 and visit[value] == 0:
                #print('C', value, cnt+1)
                visit[value] = 1
                Q.append((value, cnt+1))


number, target = 5, 9
solution(number, target)

2

In [ ]:
# Queue를 사용해서 +, -, *를  넣었다가 빼내어 보세요
from collections import deque
number = 3
target = 11
def solution(number, target):
    visit = [0] * 10001  # 0 : 사용하지 않음, 1 : 사용했음
    queue = deque()
    queue.append((number, 1))
    visit[number] = 1
    calculate = [lambda x : x + 1, lambda x : x - 1, lambda x : x * 2]
    while queue:
        t, cnt = queue.popleft()
        print(t, cnt, queue)

        for calc in calculate:
            answer = calc(t)
            if answer == target: return cnt
            if 0 <= answer <= 10000 and visit[answer] == 0: 
                visit[answer] = 1
                queue.append((answer, cnt+1))

solution(number, target)

[['*', '*'],
 ['*', '+'],
 ['*', '-'],
 ['+', '*'],
 ['+', '+'],
 ['+', '-'],
 ['-', '*'],
 ['-', '+'],
 ['-', '-']]

In [ ]:
# 주헌이 다시 설명
# 일요일에 또 한 번 설명해 봅시다

In [ ]:
#다음과 같이 import를 사용할 수 있습니다.
#import math

def solution(number, target):
    #여기에 코드를 작성해주세요.
    answer = 0
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
number1 = 5
target1 = 9
ret1 = solution(number1, target1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")

number2 = 3
target2 = 11
ret2 = solution(number2, target2)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret2, "입니다.")

## Cos Pro 1급 5회 문제 10 - 빈칸 채우기

직업에 아르바이트, 판매사원이 있습니다. 직원들 급여의 총합을 계산하기 위해 아래와 같이 Job, PartTimeJob, SalesJob 클래스를 작성했습니다.

![image.png]()
 
* Job :
  * Job : 직업을 나타내는 클래스입니다.
  * salary : 직업의 급여를 나타냅니다. 초기 급여는 0입니다.
  * get_salary : 직업의 급여를 return 합니다.

* PartTimeJob :
  * PartTimeJob : 아르바이트를 나타내는 클래스이며 Job을 상속합니다.
  * work_hour : 아르바이트를 한 시간입니다.
  * pay_per_hour : 아르바이트의 시간 당 급여입니다.
  * get_salary : 아르바이트 급여를 계산하여 return 합니다.

* SalesJob :
  * SalesJob : 판매사원을 나타내는 클래스이며 Job을 상속합니다.
  * sales_result : 판매사원의 판매실적입니다.
  * pay_per_sale : 판매실적 당 급여입니다.
  * get_salary : 판매사원의 급여를 계산하여 return 합니다.

주어진 아르바이트, 판매사원 급여의 총합을 계산하려 합니다.

* 아르바이트는 기본적으로 `아르바이트를 한 시간 X 시간 당 급여`를 받으며 40시간 이상 근무시 8시간만큼의 급여를 추가로 받습니다.
* 판매사원은 기본적으로 `판매실적 * 판매실적 당 급여`를 받으며 판매실적이 10건이 넘으면 급여를 2배로, 20건이 넘으면 급여를 3배로 받습니다.

아르바이트의 정보가 담긴 2차원 리스트 part_time_jobs, 판매사원의 정보가 담긴 2차원 리스트 sales_jobs가 매개변수로 주어질 때, 모든 직원들 급여의 총합을 return 하도록 solution 함수를 작성하려 합니다. 위 클래스 구조를 참고하여 주어진 코드의 빈칸을 적절히 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

아르바이트의 정보가 담긴 2차원 리스트 part_time_jobs, 판매사원의 정보가 담긴 2차원 리스트 sales_jobs가 solution 함수의 매개변수로 주어집니다.
* part_time_jobs은 길이가 1이상 10이하인 2차원 리스트입니다.
* part_time_jobs의 각 원소는 [아르바이트를 한 시간, 시간 당 급여]입니다.
  * 아르바이트를 한 시간은 1이상 100이하입니다.
  * 시간 당 급여는 1,000이상 20,000이하입니다.
* sales_jobs은 길이가 1이상 10이하인 2차원 리스트입니다.
* sales_jobs의 각 원소는 [판매실적, 판매실적 당 급여]입니다.
  * 판매실적은 1이상 30이하입니다.
  * 판매실적 당 급여는 1,000이상 20,000이하입니다.

▣ return 값 설명

모든 직원들 급여의 총합을 return 합니다.

▣ 입출력 예

    | part_time_jobs                       | sales_jobs               | return |
    |--------------------------------------|--------------------------|--------|
    | [[10, 5000], [43, 6800], [5, 12800]] | [[3, 18000], [12, 8500]] | 718800 |

▣ 입출력 예 설명

    첫번째 아르바이트에게 50,000(10 * 5,000)을 지급합니다.
    두번째 아르바이트에게 346,800(43 * 6,800 + 8 * 6,800)을 지급합니다.
    세번째 아르바이트에게 64,000(5 * 12,800)을 지급합니다.
    첫번째 영업사원에게 54,000(3 * 18,000)을 지급합니다.
    두번째 영업사원에게 204,000(12 * 8,500 * 2)을 지급합니다.
    따라서 급여의 총합은 718,800입니다.

In [ ]:
# 상속

class MyInt:
    def __init__(self, number):
        self.number = number

    def __str__(self):
        return f'나는 {self.number}입니다'
    
    def __add__(self, other):
        return self.number + other.number

    def __sub__(self, other):
        return self.number - other.number

    def __mul__(self, other):
        return self.number * other.number

a = MyInt(10)
b = MyInt(20)
#print(dir(a))
print(a)   # '나는 10입니다'
print(a + b, a - b)
print(a * b)

나는 10입니다
30 -10
200

In [ ]:
# class MyInt
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', 
 '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__',
 '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__',
 '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'number']

In [ ]:
class MyInt(int):
    def __add__(self, other):
        return f'{self.real + other.real}입니다'

a = MyInt(10)
b = MyInt(20)
print(a + b)
print(a-b, a*b, a/b)

30입니다
-10 200 0.5

In [ ]:
class Job:
	def __init__(self):
		self.salary = 0
	
	def get_salary(self):
		return self.salary

class PartTimeJob(Job):
	def __init__(self, work_hour, pay_per_hour):
		super().__init__()
		self.work_hour = work_hour
		self.pay_per_hour = pay_per_hour
	
	def get_salary(self):
		self.salary = self.work_hour * self.pay_per_hour
		if self.work_hour >= 40:
			self.salary += (self.pay_per_hour * 8)
		return self.salary

class SalesJob(Job):
	def __init__(self, sales_result, pay_per_sale):
		super().__init__()
		self.sales_result = sales_result
		self.pay_per_sale = pay_per_sale

	def get_salary(self):
		if self.sales_result > 20:
			self.salary = self.sales_result * self.pay_per_sale * 3
		elif self.sales_result > 10:
			self.salary = self.sales_result * self.pay_per_sale * 2
		else:
			self.salary = self.sales_result * self.pay_per_sale
		return self.salary

def solution(part_time_jobs, sales_jobs):
	answer = 0
	for p in part_time_jobs:
		part_time_job = PartTimeJob(p[0], p[1])
		answer += part_time_job.get_salary()
	for s in sales_jobs:
		sale_job = SalesJob(s[0], s[1])
		answer += sale_job.get_salary()
	return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
part_time_jobs = [[10, 5000], [43, 6800], [5, 12800]]
sales_jobs = [[3, 18000], [12, 8500]]
ret = solution(part_time_jobs, sales_jobs)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

solution 함수의 반환 값은 718800 입니다.